* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 {
    background-image: url("https://i.postimg.cc/FHcpLqbm/Baby-Uni-(1).jpg");
}
.img2 {
    background-image: url("https://i.postimg.cc/rw6CMJB5/Big-Uni-(1).jpg");
}
.center-text {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
}
.black-block {
    background-color: #000000;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-block-text {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
}