* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.1s ease, height 0.1s ease;
}